* {
    box-sizing: border-box;
    text-align: center;
    margin: 0;
}

html, body, #app, #homepage {
    height: 100%;
}

body {
     opacity: 1;
}

#top-level-component h1 {
    font-family: 'IM Fell French Canon', serif;
    position: fixed;
    text-shadow: 1px 1px 2px #fff, 0 0 1em #fff, 0 0 0.2em #fff;
    top: 0; width: 100%; margin: auto;
}

/*HOME PAGE*/
#homepage {
    background: #fff url('../assets/img/french-x-header.jpg') no-repeat center center fixed;
    background-size: cover;
}

#homepage-text, #register-login {
    height: 50%;
    width: 100%;
}

#homepage h1, #homepage h2 {
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    text-shadow: 1px 1px 2px #fff, 0 0 1em #fff, 0 0 0.2em #fff;
    color: #000;
}

#homepage h1 {
    font-family: 'IM Fell French Canon', serif;
    font-size: 3em;
    letter-spacing: 0.05em;
    top: 35%;
}

#homepage h2 {
    font-family: 'Josefin Slab', serif;
    font-size: 2em;
    font-weight: 900;
    top: 45%;
}

#register-login-button {
    border: 0.1em solid black;
    margin-top: 2%;
}

#register-login-button a, #register-login-button a {
    color: #000;
    font-family: 'IM Fell French Canon', serif;
    font-size: 1.5em;
    text-decoration: none;
}

span {
    color: red;
}

/*QUIZ PAGE*/
.half-width {
    float: left;
    display: inline-block;
    height: 700px;
    width: 50%;
}

#french {
    background: linear-gradient(#dcdcdc, transparent 45%), linear-gradient(0deg, #dcdcdc, transparent),#fff url('../assets/img/french-x-header.jpg') no-repeat center;
    background-size: cover;
}

#english {
    background: linear-gradient(#dcdcdc, transparent 45%), linear-gradient(0deg, #dcdcdc, transparent),#fff url('../assets/img/american-flag.jpg') no-repeat center;
    background-size: cover;
}

.language {
    font-family: 'Josefin Slab', serif;
    font-size: 2.5em;
    position: absolute;
    padding-top: 15%;
    text-shadow: 1px 1px 2px #fff, 0 0 1em #fff, 0 0 0.2em #fff;
}

#french-heading {
    right: 25%;
}

.frenchWord {
    font-size: 2em;
    position: absolute;
    top: 40%;
    left: 25%;
    height: 3em;
    border: 1px solid #000;
}

#english-heading {
    left: 25%;
}

#answer-input, #submit {
    font-size: 1.2em;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    border: 1px solid #000;
}

#answer-input {
    top: 45%;
    height: 3em;
}

#submit {
    height: 2.5em;
    top: 56%;
    width: 4em;
}