* {
    box-sizing: border-box;
    margin: 0;
}
html, body, #app, #homepage {
    height: 100%;
}
header {
  display: inline;
  width: 100%;
}

#footer {
    bottom: 0;
    font-size: 1em;
    font-family: 'Josefin Slab', serif;
    left: 0;
    padding: 1rem;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 1;
}
#top-level-component > h1 {
    font-family: 'IM Fell French Canon', serif;
    position: fixed;
    text-shadow: 1px 1px 2px #fff, 0 0 1em #fff, 0 0 0.2em #fff;
    top: 0; width: 100%; margin: auto;
}
/*HOME PAGE*/
#homepage {
    background:  linear-gradient(#dcdcdc, transparent 45%), linear-gradient(0deg, #dcdcdc, transparent),#fff url('../assets/img/french-x-header.jpg') no-repeat center;
    background-size: cover;
}
#register-login {
    text-align: center;
}
#homepage-text, #register-login {
    height: 50%;
    width: 100%;
}
#homepage h1, #homepage h2 {
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    /*text-shadow: 1px 1px 2px #000, 0 0 1em #000, 0 0 0.2em #000;*/
    color: #000;
}
#homepage h1 {
    font-family: 'IM Fell French Canon', serif;
    font-size: 3em;
    letter-spacing: 0.05em;
    top: 35%;
}
#homepage h2 {
    font-family: 'Josefin Slab', serif;
    font-size: 2em;
    font-weight: 900;
    top: 45%;
}
#register-login-button {
    border: 0.1em solid black;
    margin-top: 2%;
}

span {
    color: red;
}
/*QUIZ PAGE*/
.half-width {
    float: left;
    display: inline-block;
    height: 100vh;
    width: 50%;
    text-align: center;
}
/*.hide {
    display: none;
}*/
#french {
    background: linear-gradient(#dcdcdc, transparent 45%), linear-gradient(0deg, #dcdcdc, transparent),#fff url('../assets/img/french-x-header.jpg') no-repeat center;
    background-size: cover;
}
#english {
    background: linear-gradient(#dcdcdc, transparent 45%), linear-gradient(0deg, #dcdcdc, transparent),#fff url('../assets/img/american-flag.jpg') no-repeat center;
    background-size: cover;
}
.language {
    font-family: 'Josefin Slab', serif;
    font-size: 2.5em;
    text-shadow: 1px 1px 2px #fff, 0 0 1em #fff, 0 0 0.2em #fff;
}
#french-heading {
    margin-top: 25%;
    right: 25%;
}
#english-heading {
    margin-top: 25%;
}
#answer-input, #submit {
    font-size: 1.2em;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    border: 1px solid #000;
}
#answer-input {
    top: 45%;
    height: 3em;
    width: 11em;
}
#submit {
    height: 3em;
    top: 56%;
    width: 11em;
    border: 2px solid #696969;
}

#next-button {
    height: 5em;
    width: 11em;
    left: 72%;
    top: 45%;
}
#logout-button {
    position: absolute;
    text-align: center;
    display: inline;
}
.card {
    width: 20em;
    display: inline-block;
    margin-top: 3em;
}
.card-question {
    padding-top: 4em !important;
}
.card-question div {
    padding: 0 !important;
    height: 5em;
}
.card-question span {
    font-size: 2em !important;
}
.card-answer div {
    padding: 0 !important;
}
.card-answer span {
    font-size: 2em !important;
}
.card-feedback {
    padding-top: 4em !important;
}
.card-feedback div {
    padding: 0 !important;
}
.card-feedback span {
    font-size: 1.5em !important;
}
.card-next div {
    padding: 0 !important;
    opacity: 1 !important;
}
.card-next span {
    font-size: 2em !important;
}
.card-next input {
    background-color: white !important;
}
.score {
    display: inline-block;
}
.card-score {
  margin-bottom: 5em;
}
.card-score div {
    padding: 0 !important;
}

/*MEDIA QUERIES*/
/* ----------- iPhone 5 and 5S ----------- */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
       #homepage h2 {
          padding-top: 5em;
      }
      
      #register-login-button {
          margin-top: 45%;
      }
}
/* ----------- iPhone 6 ----------- */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
      #homepage h2 {
          padding-top: 4em;
      }
      
      #register-login-button {
          margin-top: 35%;
      }
}
/* ----------- iPhone 6+ ----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
      #homepage h2 {
          padding-top: 3em;
      }
      
      #register-login-button {
          margin-top: 30%;
      }
}